<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.devgirl.calendar"
      version="0.1.0">
    <name>Sample Plugin</name>
    <description>Sample PhoneGap Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,sample,plugin</keywords>
 
 
    <js-module src="www/samplePlugin.js" name="SamplePlugin">
        <clobbers target="window.samplePlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Calendar">
                <param name="android-package" value="com.example.myplugin.SamplePlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/SamplePlugin.java" target-dir="src/com/example/myplugin" />      
     </platform>          
</plugin>